@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Poppins:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Orbitron:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.icon-size{
    height: 11px;
}

header {
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    /* position: fixed; */
    width: 100%;
    z-index: 999;
}

nav {
    justify-content: space-between;
    padding: 10px 100px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #333;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 0 10px;
}

li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

a:hover {
    color: #008080;
}

/* LAINDING */
.landing {
    padding: 10px 200px 10px 100px;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("assets/bg-masthead.jpg"); */
    background-size: cover;
    color: black;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

/* #wrapper{
    display: none;
} */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.profile-description {
    /* animation: fadeIn 1.5s both; */
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    text-align: left;
    width: 500px;
}

h6,
h1,
p {
    margin: 0;
}

.profile-description .name {
    font-weight: bold;
    font-size: 5rem;
    margin-bottom: 8px;
    /* overflow: hidden;
    border-right: .15em solid rgb(0, 0, 0);
    white-space: nowrap;
    animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 0.5s steps(44) infinite normal; */
}

/* The typing effect */
@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 5.78em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(0, 0, 0, 0.75);
    }

    to {
        border-right-color: transparent;
    }
}

.hire {
    background-color: #64A19D;
    display: flex;
    text-decoration: none;
    color: white;
    border: none;
    padding: 15px 20px 15px 20px;
    border-radius: 20px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

.hire img {
    filter: invert(100%);
    height: 40px;
    padding-right: 10px;
}

.profile-description p {
    padding-top: 30px;
    font-size: 1.2rem;
}

.buttons {
    display: flex;
    justify-content: left;
    align-items: center;
}

.buttons a {
    color: black;
    font-size: 1.2rem;
    padding-left: 30px;
    text-underline-offset: 2px;
}

/* .been-through {

    animation: fadeIn 2.5s normal;
} */
.back-to-top {
    position: fixed;
    right: 1rem;
    bottom: 4rem;
    background-color: transparent;
    border-radius: 50px;
    padding: 15px 20px 15px 20px;
    transform: rotate(-90deg);
}


.hidden {
    display: none;
}

/* About us */

.about-us {
    display: block;
    padding: 0px 20px;
    height: 100vh;
    margin: auto;
    /* width:100; */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 80%;
    padding: 10px;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}

.first-name {
    transform: rotate(-90deg) translateX(-22%);
    margin: 0px;
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
}

.second-name {
    transform: rotate(-90deg) translateY(34%);
    margin: 0px;
    font-family: 'Paytone One', sans-serif;
    font-size: 100px;
    letter-spacing: -3px;

}

.section-name {
    padding: 50px 20px 0px 20px;
    text-decoration: underline;
    text-underline-offset: 8px;
}

/* @media (min-width: 576px) {
    .about-us  p {
      height: 10px;
    }
  }
  @media (min-width: 768px) {
    .about-us  p {
      --size-divisor: 1.5;
    }
  }
  @media (min-width: 992px) { 
    .about-us  p {
      --size-divisor: 1;
    }
  }
  @media (min-width: 1200px) { 
    .about-us  p {
      --size-divisor: .67;
    }
  } */